# https://esphome.io/components/esphome.html
esphome:
  name: esphome-${macsuffix}

# https://esphome.io/components/button/restart.html
button:
  - platform: restart
    name: restart-${macsuffix}

# https://esphome.io/components/logger.html
logger:

# https://esphome.io/components/api.html
api:

# https://esphome.io/components/ota.html
ota:
  - platform: esphome

# https://esphome.io/components/safe_mode
safe_mode:

# https://esphome.io/components/web_server.html
web_server:
  port: 80

# https://esphome.io/components/time.html
time:
  - platform: sntp
    id: sntp_time
    timezone: Europe/Berlin
    servers:
      - 192.168.172.1

text_sensor:
  # https://esphome.io/components/text_sensor/version.html
  - platform: version
    name: "${macsuffix}_version"
