[submodule "modules/cdarknet/hosts"]
	path = system/modules/cdarknet/hosts
	url = git@git.darmstadt.ccc.de:cdark.net/hosts
[submodule "modules/cdarknet/nixdark"]
	path = system/modules/cdarknet/nixdark
	url = git@git.darmstadt.ccc.de:cdark.net/nixdark
