set $mod Mod4
set $lock swaylock -e -F -l -s fill -f -i ~/volatile/wallpaper.jpg

output * bg ~/volatile/wallpaper.jpg fill

#input type:tablet {
#   map_to_region "2560x1440@3360,0"
#}

input type:keyboard {
      xkb_layout de
      xkb_variant neo
      xkb_options altwin:swap_lalt_lwin
}

focus_follows_mouse no
hide_edge_borders --i3 smart
titlebar_border_thickness 0
titlebar_padding 1
font monospace 9.5
default_border pixel 1
floating_modifier $mod normal
