.mx_NotificationBadge_dot {
   display: none !important;
}

* {
   font-size: 11px !important;
   font-smooth: never;
}

.mx_RoomSublist[aria-label="Rooms"] .mx_RoomTile {
   display: none !important;
}
