* {
  all: unset;
  font-family: "Spleen 6x12";
  font-size: 12px;
}

$background: #000040;
$background-darker: #0d0f1c;
$background-darker-80: #0d0f1ce0;
$background-secondary: #323035;
$background-lighter: #152f6d;

.time {
  font-weight: bold;
  font-family: "Spleen 8x16";
  font-size: 16px;
}

.tophud {
  color: #ffffff;
  background: rgba($background,0.8);
  padding: 0.3em;
  margin-bottom: 3px;
}

.component {
  color: #ffffff;
  background: rgba($background,0.8);
  border-radius: 0.7em;
  border: 1px solid #7eaafd;
  box-shadow: 0 0 8px #7eaafd;
  padding: 0.3em;
  margin: 0.4em;
}

.lighter {
  background: $background-lighter;
  padding: 0.3em;
  margin: 0.2em;
}

.current {
  background: $background-lighter;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.disabled {
  color: rgba(255,255,255,0.4);
}

.disabled progress {
  background: rgba(255,255,255,0.4);
}

progress {
  background: rgba(255,255,255,0.8);
  min-height: 1px;
}

progressbar {
}

progressbar > trough {
  min-width: 10px;
  min-height: 1px;
  background: rgba(255,255,255,0.2);
}


.empty {
  color: #aaaaaa;
}

.bar {
  background: transparent;
}

.comment {
  color: #888888;
}

.overlay {
  background: rgba(#000000,0.1);
  padding: 100px;
}

@keyframes blinking {
  0% {
    background-color:$background;
  }
  50% {
    background-color: #82184f;
  }
  100% {
    background-color:$background;
  }
}

.blink {
  animation: blinking 1s infinite;
}
@keyframes nitroblinking {
  0% {
    background-color: rgba(255,255,255,0);
  }
  50% {
    background-color: #0000ff;
  }
  100% {
    background-color: rgba(255,255,255,0);
  }
}

.nitro {
  animation: nitroblinking 1s infinite;
}
