$background: #eff1f5;
$background-lighter: #ccced7;
$foreground: #4c4f69;
$accent: #1E66F5;

* {
  all: unset;
  font-family: "B612";
  font-weight: bold;
}

.topbar {
  background: $background;
  color: $foreground;
  font-size: 12px;
}

.window {
  border-radius: 1px;
  padding: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin: 1px;
  background: $background-lighter;
}

.active-window {
  background: $background;
}

.workspace {
  background: $foreground;
  color: $background;
  border-radius: 1px;
  min-width: 6px;
  padding: 1px;
  margin: 1px 5px;
}

.active-workspace {
  background: $accent;
}

.icon {
  font-size: 12px;
  color: $accent;
  padding-right: 6px;
  padding-left: 3px;
}

.component {
  font-size: 12px;
  color: $foreground;
  background: $background;
  padding: 2px;
  margin: 2px;
}

.lighter {
  background: $background-lighter;
  padding: 1px;
  margin: 1px;
}

.disabled {
  color: rgba($foreground,0.6);
}

progress {
  background: $accent;
  min-height: 1px;
}

progressbar {
}

progressbar > trough {
  min-width: 10px;
  min-height: 1px;
  background: #ffffff;
}

.overlay {
  background: rgba($accent,0.2);
  padding: 100px;
}

@keyframes blinking {
  0% {
    background-color:$background;
  }
  50% {
    background-color: #82184f;
  }
  100% {
    background-color:$background;
  }
}

.blink {
  animation: blinking 1s infinite;
}
