* {
  all: unset;
  font-family: "B612";
  font-size: 12px;
}

$background: #eff1f5;
$background-lighter: #ccced7;
$foreground: #4c4f69;

.time {
  font-weight: bold;
  font-size: 16px;
}

.component {
  color: $foreground;
  background: $background;
  padding: 0.3em;
  margin: 0.3em;
}

.lighter {
  background: $background-lighter;
  padding: 0.3em;
  margin: 0.2em;
}

.current {
  background: $background-lighter;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.workspace {
  padding: 0.3em;
  margin: 0.2em;
  border: 1px solid #7eaafd;
}

.disabled {
  color: rgba(255,255,255,0.4);
}

.disabled progress {
  background: rgba(255,255,255,0.4);
}

progress {
  background: rgba(255,255,255,0.8);
  min-height: 1px;
}

progressbar {
}

progressbar > trough {
  min-width: 10px;
  min-height: 1px;
  background: rgba(255,255,255,0.2);
}


.empty {
  color: #aaaaaa;
}

.bar {
  background: transparent;
}

.comment {
  color: #888888;
}

.overlay {
  background: rgba(#000000,0.1);
  padding: 100px;
}

@keyframes blinking {
  0% {
    background-color:$background;
  }
  50% {
    background-color: #82184f;
  }
  100% {
    background-color:$background;
  }
}

.blink {
  animation: blinking 1s infinite;
}
@keyframes nitroblinking {
  0% {
    background-color: rgba(255,255,255,0);
  }
  50% {
    background-color: #0000ff;
  }
  100% {
    background-color: rgba(255,255,255,0);
  }
}

.nitro {
  animation: nitroblinking 1s infinite;
}
