$background: #eff1f5;
$background-lighter: #ccced7;
$foreground: #4c4f69;

* {
  all: unset;
  font-family: "B612";
  font-weight: bold;
  color: $foreground;
}

.topbar {
  background: $background;
  font-size: 12px;
}

.window {
  border-radius: 1px;
  padding: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin: 1px;
  background: #1E66F5;
}

.active-window {
  background: #EA76CB;
}

.icon {
  font-size: 18px;
  margin-right: 4px;
  margin-left: 2px;
}

.component {
  font-size: 12px;
  background: $background;
  padding: 2px;
  margin: 2px;
}

.workspace {
  border-radius: 1px;
  background: $background-lighter;
  padding: 1px;
}

.lighter {
  background: $background-lighter;
  padding: 2px;
  margin: 2px;
}

.current {
  background: $background-lighter;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px #ffffff;
}

.disabled {
  color: rgba(255,255,255,0.4);
}

.disabled progress {
  background: rgba(255,255,255,0.4);
}

progress {
  background: rgba(255,255,255,0.8);
  min-height: 1px;
}

progressbar {
}

progressbar > trough {
  min-width: 10px;
  min-height: 1px;
  background: rgba(255,255,255,0.2);
}


.empty {
  color: #aaaaaa;
}

.bar {
  background: transparent;
}

.comment {
  color: #888888;
}

.overlay {
  background: rgba(#000000,0.1);
  padding: 100px;
}

@keyframes blinking {
  0% {
    background-color:$background;
  }
  50% {
    background-color: #82184f;
  }
  100% {
    background-color:$background;
  }
}

.blink {
  animation: blinking 1s infinite;
}

